<configuration>
   <runtime>
      <gcServer enabled="true"/>
   </runtime>
  <connectionStrings>
    <add name="ITDbEntities" connectionString="metadata=res://*/ITDataModel.csdl|res://*/ITDataModel.ssdl|res://*/ITDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\ITLocalDB;initial catalog=ITDb;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>
