<table class="table">
  <tr>
    <th>#</th>
    <th>Description</th>
    <th>Last Modified</th>
    <th>Commands</th>
  </tr>
  <tr class="primary">
    <td>1</td>
    <td>Description 1</td>
    <td>2 hours ago</td>
    <td><ui-command></ui-command></td>
  </tr>
  <tr class="success">
    <td>2</td>
    <td>Description 2</td>
    <td>3 hours ago</td>
    <td><ui-command></ui-command></td>
  </tr>
  <tr class="warning">
    <td>3</td>
    <td>Description 3</td>
    <td>12 hours ago</td>
    <td><ui-command></ui-command></td>
  </tr>
  <tr class="danger">
    <td>4</td>
    <td>Description 4</td>
    <td>8 hours ago</td>
    <td><ui-command></ui-command></td>
  </tr>
  <tr class="info">
    <td>5</td>
    <td>Description 5</td>
    <td>10 hours ago</td>
    <td><ui-command></ui-command></td>
  </tr>
</table>


